<h1>Login</h1>
   <%= form_tag({:controller => "sessions", :action => "create"}, {:method => "post"})do %>
   <%= label_tag :username%>
   <%= text_field_tag :username %>
   <%= label_tag :password%>
   <%= password_field_tag :password%>
   <%= submit_tag "Login"%>
<%end%>
