<h1>Welcome</h1>
<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
    <%= button_to "Log out", 'sessions/logout', method: :post%>
<%else%>
  <%= button_to "Login", 'sessions/login', method: :get%>
<%end%>
